body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 1em auto;
    
}

h1 {
    text-align: center;
    font-size: 3em; 
}
.header,.cont{
    display: grid;
}

.header {
    width: 100%;
    display: grid;
    grid-template-columns: clamp(20px,6%,100px) 8% auto 26% 16%;
    gap: 8vh;
    font-weight: bold;
    background-color: #eee;
    font-size: 1.5em; 
    text-align: center;
}
.cont{
   display: grid;
   grid-template-columns: 100% max-content;
   position: relative;
    padding: 1em;
    gap: 10vh;
    text-align: center;
}
.cont__info{
    display: grid;
    grid-template-columns: clamp(20px,6%,100px) 8% auto 26% 16%;
    gap: 8vh; 
}

.user-form {
    margin-bottom: 10em;
}

.user-info {
    display: flex;
    gap: 2vh;
    padding: 10em;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    font-size: 30em;
}
.cont__btn{
    display: grid;
    margin: auto;
    right: 0;
    position: absolute;
    padding: 20px;
    
}