body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

form {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

img {
  width: 50%;
  display: flex;
  margin: auto;
}

form h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}


.informacion-general {
  margin: 20px 0;
}

.informacion-general label {
  display: block;
  margin-bottom: 5px;
}

.informacion-general input,
.informacion-general select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}


.informacion-adicional {
  margin: 20px 0;
}

.informacion-adicional label {
  display: block;
  margin-bottom: 5px;
}

.informacion-adicional input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}


input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

form .remember {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

form .remember p {
  font-size: 12px;
  text-decoration: underline;
}

form .btn {
  width: 100%;
  background-color: #008CBA;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

form a {
  display: block;
  text-align: center;
  text-decoration: underline;
  color: #008CBA;
}

a.btn {
  width: 89%;
}
