*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    align-items: center;
    justify-content: center;
    /* background-image: url(../img/);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% ; */
}
img{
    width: 44vw;
    height: 67vh;
}
h1{
    color:#424242;
    font-size: 2.7em;
    text-align: center;
    padding: 1em 1em;
}
input{
    display: grid;
    width: 100%;
    padding: 4em;
    margin-bottom: 3em;
    border-radius: 1em;
    border: 0.3em solid #ccc;
}
.btn{
    background-color: #b9b9b9;
    font-size: 15px;
    text-align: center;
    color: rgb(5, 5, 5);
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;

}
.btn:hover{
    background-color: #ffffff;  
}

