/* General styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header styles */
  header {
    background-color: #008CBA;
    padding: 20px;
  }
  
  .logo {
    display: block;
    float: left;
  }
  
  .logo img {
    width: 100px;
    height: auto;
    border-radius: 66px;
  }
  
  nav {
    display: block;
    float: right;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    padding: 10px;
    background-color: #fff;
    color: #008CBA;
    border-radius: 10px;
  }
  
  /* Main styles */
  main {
    padding: 50px 0;
  }
  
  .banner {
    background-color: #fff;
    padding: 20px;
  }
  
  .banner h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .banner p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .banner .btn {
    background-color: #008CBA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .servicios {
    padding: 20px;
  }
  
  .servicios h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .servicios ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .servicios li {
    margin-bottom: 10px;
  }
  
  .galeria {
    padding: 20px;
  }
  .row {
    display: flex;
}
  .galeria h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .galeria .row {
    margin: 0 -15px;
  }
  
  .galeria .col-md-4 {
    padding: 15px;
  }
  
  .galeria .col-md-4 img {
    width: 100%;
    height: auto;
  }
  
  /* Footer styles */
  footer {
    background-color: #008CBA;
    padding: 20px 0;
  }
  p {
    text-align: center;
}
  
  footer p {
    color: #fff;
    margin: 0;
  }
  